<!DOCTYPE html>
<html lang="en" ng-app="adminApp" ng-controller="eventCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASI Watcher Page</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/js.css" rel="stylesheet">

  </head>
  <body>
      
      <div class="container-fluid fullScreenHeight zeroRef" >
        <div class="row container-fluid fullScreenHeight ">
<!-- *************   CENTER PANEL  *************-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zeroRef fullScreenHeight" >
                <h2 class="text-center">Watcher</h2>
                <div class="form-group" >
                    <label for="currentSlideTitle">Title</label>
                    <input type="text" ng-model="currentSlide.title" class="form-control" id="currentSlideTitle" ng-disabled="true">
                    <label for="currentSlideText">Text</label>
                    <textarea rows="5" type="text" ng-model="currentSlide.txt"  class="form-control" id="currentSlideText" ng-disabled="true"></textarea>
                </div>
                <span ng-if="isSlidContentEmpty(currentSlide)">NO IMAGE IS SET</span>
                <img ng-hide="isSlidContentEmpty(currentSlide)" ng-src="{{contentMap.payload[currentSlide.contentMap[1]].src}}" alt="{{contentMap.payload[currentSlide.contentMap[1]].title}}" class="img-responsive">
            </div>
        </div>
    </div>
      
      
    <script src="lib/js/jquery-1.11.3.min.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

      
      <!-- ANGULAR -->    
  <script src="lib/js/angular.min.js"></script>

  <script src="js/services/FactoryService-s3.1.js"></script>
  <script src="js/services/CommService3.3.js"></script>
  <script src="js/application/WatchApp-s3.3.js"></script>
  
  <script src="js/controllers/EventController-s3.3.js"></script>
  </body>
</html>